{% extends 'base.html.twig'%}

{% block title %} Add new pokemon{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <a href="{{  path('edit_pokemon')}} "> Back to edit</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <h1>Add new pokemon:</h1>




    {{ form_start(add_form) }}
    {{ form_errors(add_form) }}
    {{ form_widget(add_form) }}
    {{ form_end(add_form) }}

{% endblock %}